body {
    background-image: url(end-back.png);
    line-height: 50px;
    text-align: center;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    background-repeat: repeat-y;
}

.container {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 0px;
  padding-bottom: 200px;
  padding-top: 100px;



}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
    color: rgb(242, 9, 211);
}

a {
    color: rgb(227, 17, 206);
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;

}

#username {
    font-size: 30px;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    border: solid 3px grey;

}

#save-button {
    font-size: 30px;
    margin-left: 20px;
    padding: 8px;
    background-color: rgb(249, 8, 197);
    color: white;
}

.btn {
    margin-top: 10px;
    display: block;
    font-size: 25px;
}